body  {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: black;
}

div.scrollmenu a:hover {
    color: gray;
}
div.scrollmenu a:active {
    color: darkcyan;
}
img {
    float: left;
    box-sizing: border-box;
    padding-left: 100px;
    width: 500px;
    margin-right: 100px;
}
.bio {
    float: right;
    box-sizing: border-box;
}
